SERVER_PORT=8081
POSTGRES_DSN=postgresql://telemetry:telemetry@telemetry-postgres-postgresql:5432/telemetry?sslmode=disable
MQ_URL=http://localhost:8080
METRICS_CSV_FILEPATH=/app/metrics.csv
LOG_LEVEL=info